    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Stránka nenalezena</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="px-4 py-5 flex justify-center">
                <h3 class="font-bold text-3xl" role="alert">Bohužel na této adrese nic není.</h3>
            </div>
        </LayoutView>
    </NotFound>
</Router>
